*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.Left-Section{
  width: var(--left-section-width);
  vertical-align: top;
  background: #E3EBC5;
  height: 100vh;
  
}
.Right-Section{
  width: calc(100% - var(--left-section-width));
  height: 100vh;
  background: #C5C6D2;
}
.Left-Section,.Right-Section{
  display: inline-block;
}
.App{
  margin-left: 70px;
  margin-bottom: 100px;
  margin-right: 70px;
}

